.post {
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	display: flex;
	flex-direction: column;
	margin-top: 18px;
}

.post .top {
	display: flex;
	justify-content: space-between;
	padding: 13px 16px;
	font-size: 14px;
	font-weight: 500;
}

.post .top .user,
.post .top .actions {
	display: flex;
	align-items: center;
}

.post .top img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 50%;
}

.post .user,
.post .top img,
.post .bottom img,
.post ion-icon,
.post strong {
	cursor: pointer;
}

.post .content img {
	width: 100%;
}

.post .bottom .actions {
	display: flex;
	justify-content: space-between;
	padding: 13px 16px;
	font-size: 24px;
}

.post .bottom .actions div:first-child ion-icon {
	margin-right: 6px;
}

.post .bottom .likes {
	display: flex;
	align-items: center;
	padding: 0 16px 13px;
	font-weight: 300;
}

.post .bottom .likes img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-radius: 50%;
}

.post:last-child {
	margin-bottom: 18px;
}
